.chart-container {
  background-color: rgb(26, 34, 17);
  margin: 50px;
}

.headers-row {
  font-size: 1vw;
  width: 73vw;
  color: rgb(191, 194, 196);
}

.chart-header {
  align-self: center;
  font-weight: bolder;
  padding: .5vw;
}

.item-row {
  height: 4.1vw;
}

.item-col {
  background-color: rgb(0, 0, 0);
  text-align: center;
  padding: .2vw;
  height: 5vw;
  color: rgb(186, 186, 186);
  border: white 1px solid;
}

#item-title {
  margin-left: 1.3vw;
  min-width: 10vw;
  max-width: 10vw;
  word-wrap: break-word;
}

#item-fee{
  min-width: 80px;
  max-width: 80px;
}

#item-death{
  min-width: 60px;
  max-width: 60px;
}

#item-cured{
  min-width: 120px;
  max-width: 120px;
}

#item-food{
  min-width: 60px;
  max-width: 60px;
}

#item-dental{
  min-width: 60px;
}

#item-rerate{
  min-width: 80px;
}
#item-remax{
  min-width: 150px;
}
#item-cancel{
  min-width: 100px;
}

/* .thirty {
    height: 65px;
} */